<div id='sidebar'>
    <div id='logo'>
      <%= link_to root_path do %>
        #picture
      <% end %>
    </div>
    <div class='form-inputs'>
        <%= form_tag courses_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :code => nil %>
          </p>
        <% end %>
    </div>
    <ul>
      <li class='category'>Website</li>
      <li>1wqer</li>
      <li>2qwer</li>
    </ul>
    
    <ul>
      <% @courses.each do |course| %>
        <tr>
          <li><td><%= link_to course.code, course_path(course) %></td></li>
        </tr>
      <% end %>
    </ul>
    
    <%= will_paginate @courses %>

    
</div>